<div class="h-100 d-flex align-items-center">
  <div id="intro-block" class="container text-center">
    <div class="row my-auto">
      <div class="col-md-12 col-lg_5 mx-auto">
        <h1>My First Angular Project Ever</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dignissimos nihil, reprehenderit vel
          veniam vitae. Aliquam asperiores consectetur exercitationem ipsa, labore laudantium, non officia porro
          recusandae repellendus velit voluptas voluptates!</p>
        <button class="btn btn-primary mx-3">Discover</button>
        <button class="btn btn-secondary mx-3">Contact me</button>
      </div>
    </div>
  </div>
</div>
